/* Computer */
@media screen and (min-width: 992px) {
    .menu-drawer {
        display: none;
    }
    .show-on-mobile {
        display: none;
    }
}

/* Tablet & Mobile */
@media screen and (max-width: 991px) {
    .navbar {
        position: relative;
    }
    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .navbar ul {
        display: none;
    }
    .toggle-menu svg {
        color: #666;
        width: 24px;
    }
    .menu-overlay {
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
        position: fixed;
        inset: 0;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
    }
    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        background-color: #fff;
        z-index: 2;
        transform: translateX(-100%);
        transition: 0.5s;
        padding: 60px;
    }
    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }
    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .menu-drawer ul {
        margin-top: 32px;
    }
    .menu-drawer ul a {
        padding: 11px 0;
        color: #333;
        font-weight: 600px;
        display: block;
    }
    .separate {
        border-top: 1.5px solid #ebebeb;
    }
    .hero-img {
        display: none;
    }
    .hero-wrap .info {
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }
    .hero-wrap .desc {
        width: 80%;
        margin: 30px auto auto;
    }
    .client .client-img {
        flex-wrap: wrap;
        justify-content: center;
    }
    .list-item {
        margin: 0;
        flex: 1;
    }
    .feature .feature-list {
        grid-template-columns: 1fr 1fr;
    }
    .stats .row {
        flex-direction: column;
    }
    .stats .img-block,
    .stats .info {
        width: 100%;
    }
    .stats .info {
        order: 1;
        padding: 0;
        margin-bottom: 70px;
    }
    .stats .sub-title,
    .stats .desc {
        width: 80%;
    }
    .stats .img-block {
        order: 2;
    }
    .stats .content .row2 {
        justify-content: space-around;
    }
    .stats .content .stat-number {
        font-size: 5rem;
    }
    .stats .content .stat-desc {
        font-size: 1.5rem;
    }
    .subscription .image {
        display: none;
    }
    .footer .row1 {
        display: grid;
        grid-template-columns: 1fr 2fr;
        row-gap: 80px;
    }
    .footer .desc {
        width: 50%;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .show-on-mobile {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    .menu-drawer {
        inset: 0 25% 0 0;
        padding: 40px;
    }
    .navbar .actions {
        display: none;
    }
    .show-on-mobile {
        display: block;
    }
    .hero h1 {
        font-size: 5rem;
    }
    .hero .desc {
        font-size: 1.4rem;
    }
    .hide-on-mobile {
        display: none;
    }
    .list-guide {
        flex-direction: column;
        row-gap: 40px;
    }
    .feature .link {
        display: none;
    }
    .feature .feature-list {
        grid-template-columns: 1fr;
    }
    .view-all {
        text-align: center;
        margin-top: 30px;
    }
    .stats .sub-title,
    .stats .desc {
        width: 100%;
    }
    .stats .image {
        width: 100%;
    }
    .stats .trent {
        top: 5px;
        left: 5px;
        border-radius: 12px 12px 12px 12px;
    }
    .stats .content .stat-number {
        font-size: 3.5rem;
    }
    .stats .content .row2 {
        text-align: center;
    }
    .subscription .body {padding: 40px; height: auto;}
    .footer .row {column-gap: 120px; }
    .footer .row .colum {margin: 0 auto;}
    .footer .desc {width: 100%;}
    .footer .row2 {display: block;}
    .footer .copy {margin-top: 20px;
    }
    
    
}
